$desc-color:rgba(157, 164, 189, 0.60);
$title-color:#FFF;
$title-color2:#303030;
$text-color:#303030;
$hover-color:#FF6C00;
$hero-subtitle-color:#9DA4BD;
$border-color:#FF6C00;
$about-subtitle-color:#555;
$accent-color:#303030;
$prices-text-color:#9DA4BD;
$features-item-bcg:#F7F7F7;
$team-text:#FF6C00;
$footer-title-color:#FFFFFF;
$footer-form-hover:#FFF;
$footer-form-color:rgba(157, 164, 189, 0.40);
$footer-address-color:#9DA4BD;
$footer-contact-color:#9DA4BD;
$social-media-color:#303030;