$logo-color-mobile:#FFFFFF;
$logo-color-tablet-desktop:#303030;
$menu-bcg-color:#FFF;
$menu-cross-color:#303030;
$menu-links-color:#303030;
$desc-color:rgba(157, 164, 189, 0.60);
$desc-color2:#303030;
$title-color:#FFF;
$header-link-color:#FFF;
$backdrop-bcg:rgba(25, 28, 38, 0.20);;
$title-color2:#303030;
$hero-links-color:rgba(157, 164, 189, 0.60);
$team-name-color:#303030;
$team-icons-color:#303030;
$team-item-bcg:#F7F7F7;
$social-item-bcg:#FFF;
$text-color:#303030;
$hover-color:#FF6C00;
$hero-subtitle-color:#9DA4BD;
$border-color:#FF6C00;
$subtitle-color:#555;
$accent-color:#303030;
$prices-text-color:#9DA4BD;
$features-item-bcg:#F7F7F7;
$team-text:#FF6C00;
$footer-bcg:#191C26;
$footer-title-color:#FFFFFF;
$footer-form-hover:#FFF;
$btn-text-color:#FFF;
$footer-form-color:rgba(157, 164, 189, 0.40);
$footer-address-color:#9DA4BD;
$footer-contact-color:#9DA4BD;
$footer-text-color:#FFF;
$copywrite-bcg:#F7F7F7;
$social-color:#303030;