.hero {
  padding-top: 208px;
  padding-bottom: 209px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/mobile/hero-mobile-bcg@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 448px 100%;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
      ),
      url(../img/mobile/hero-mobile-bcg@2x.webp);
  }

  @media screen and (min-width: 720px) {
    padding-top: 272px;
    padding-bottom: 40px;
    background-size: 720px 100%;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../img/tablet/hero-tablet-bcg@1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 720px 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
        ),
        url(../img/tablet/hero-tablet-bcg@2x.webp);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 272px;
    padding-bottom: 40px;
    background-size: 1200px 100%;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../img/desktop/hero-desktop-bcg@1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
        ),
        url(../img/desktop/hero-desktop-bcg@2x.webp);
    }
  }
&>.container{
  position: relative;
}
  &__aside {
    display: none;
    @media screen and (min-width: 720px) {
      display: flex;
      flex-direction: column;
      // width: 90px;
      height: 710px;
      background-color: $aside-bcg;
      position: absolute;
      top: -272px;
      left: -1px;
      padding-top: 32px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 40px;
    }
  }

  &__icon{
    width: 68.93px;
height: 55.46px;
fill: $logo-color-tablet-desktop;
  }
  &__items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
    margin-top: 282px;
    &::before {
        content: "";
        width: 1px;
        height: 60px;
        background: $desc-color2;
        display: block;
  }
  }

  &__social{
    color: $text-color;
font-family: "Open Sans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.2px;
&:hover{
      color: $hover-color;
    }
  }
  
  &__elem {
    transform: rotate(270deg);
  }

  &__box{
    @media screen and (min-width: 720px) {
            margin-left: 240px;
        }
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__desc {
    color: $desc-color;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 1px;
      background-color: $desc-color;
    }
  }

  &__title {
    color: $title-color;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 72px;
    }
  }

  &__subtitle {
    width: 336px;
    color: $hero-subtitle-color;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    letter-spacing: 0.36px;
    @media screen and (min-width: 720px) {
      width: 360px;
      font-size: 18px;
      line-height: 1.66;
    }
    @media screen and (min-width: 1200px) {
      width: 357px;
    }
  }
  &__nav {
    display: none;
    background-color: transparent;
    border: none;
    @media screen and (min-width: 720px) {
      display: block;
    }
  }

  &__list {
    display: none;
    @media screen and (min-width: 720px) {
      display: flex;
      gap: 26px;
      margin-top: 173px;
      text-align: end;
      justify-content: end;
    }
    @media screen and (min-width: 1200px) {
      gap: 24px;
      margin-top: 144px;
    }
  }

  &__link {
    color: $hero-links-color;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 250ms;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 1px;
      background-color: $desc-color;
      margin-top: 8px;
    }

    &:hover {
      color: $title-color;
      &::after {
        background-color: $title-color;
      }
    }
  }
}
