.hero {
  padding-top: 208px;
  padding-bottom: 209px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.20),rgba(25, 28, 38, 0.20)), url(/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 448px 100%;
  @media screen and (min-width: 720px) {
      padding-top: 272px;
      padding-bottom: 40px;
      background-size: 720px 100%;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 272px;
      padding-bottom: 40px;
      background-size: 1200px 100%;
    }

  &__desc {
    color: $desc-color;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 1px;
      background-color: $desc-color;
    }
  }

  &__title {
    color: $title-color;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 72px;
    }
  }

  &__subtitle {
    color: $hero-subtitle-color;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    letter-spacing: 0.36px;
    @media screen and (min-width: 720px) {
      font-size: 18px;
      line-height: 1.66;
    }
  }
  &__nav {
    display: none;
    @media screen and (min-width: 720px) {
      display: block;
    }
  }

  &__list {
    display: none;
    @media screen and (min-width: 720px) {
      display: block;
    }
  }
}
